version: 1.0.{build}
image: Visual Studio 2019
configuration: Release
install:
- cmd: dotnet restore
build_script:
- cmd: dotnet build src\PcgRandom --configuration Release --no-restore
test_script:
- cmd: dotnet test tests\PcgRandom.Tests --configuration Release --no-restore
after_test:
- cmd: dotnet pack --no-build --no-restore src\PcgRandom\PcgRandom.csproj
artifacts:
- path: src\*\bin\Release\*.nupkg
